.category{
    display: flex;
    flex-direction: row !important ;
    justify-content: space-evenly;
    margin-top: 10px;
   }
   .product-card{
        position: relative;
        width: 300px;
        height: 440px;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        margin: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
        align-items: top;
       
   
   }
   .img-div{
       
       align-items: center;
       
   }
   .img{
       justify-content: center;
       height: 250px;
       width: 250px;
       border-radius: 10px;
       margin: 10px 10px;
       /* border: solid; */
       /* border-width: 1px; */
   }
   .product-content{
       margin: 8px 10px;
       text-align: start;
   }
   