.Prod-category{
    display: flex;
    flex-direction: row !important ;
    justify-content: space-evenly;
    margin-top: 10px;
   }
.prod-card{
        position: relative;
        width: 300px;
        height: 440px;
        background: #B0E0E6;
        border-radius: 20px;
        overflow: hidden;
        margin: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
        align-items: top;
       
   
   }
   .prod-img{
       
       align-items: center;
       
   }
   .productcard-img{
       justify-content: center;
       height: 250px;
       width: 270px;
       border-radius: 10px;
       margin: 15px;
       border: solid;
       border-width: 0.5px;
       border-color: #696969;
   }
   .prod-content{
       margin: 8px 10px;
       text-align: start;
   }
   .send-button{
    padding: 10px 17px;
    margin-top: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
    cursor: pointer;
    background-color: #696969;
   }
   .send-button:focus{
    outline: none;
    border: 1px solid var(--secondary-color);
   }
   .send-button:hover{
    opacity: 0.75;
   }